<header>
<div class="navheader">
<div>
<p><strong>Im BGZ Süderelbe</strong><br>Direkt neben dem S-Bahnhof Neugraben<p>
<p>Am Johannisland 2<br>
21147 Hamburg<br>
Tel. 7967222
</p>
</div>
<div><img alt="Kulturhaus Süderelbe" title="Kulturhaus Süderelbe" src="/img/kulturhaus.jpg"></div>
</div>

<nav>
<ul>
{% assign pages = site.pages %}
{% assign navigation = site.data.navigation %}
{% for n in navigation %}
{% assign name = n | append: ".md" %}
{% for p in pages %}
{% assign dir = p.dir | remove: '/' %}
{% if p.name == 'index.md' and dir == n %}
<li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% if p.url == page.url or p.dir == page.dir and page.dir != '/' %}
<ul>
{% for d in site.pages %}
{% if page.dir == d.dir and page.dir != '/' and d.name != 'index.md' %}
<li><a href="{{ d.url }}">{{ d.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% if p.dir == '/' and p.name == name %}
<li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endif %}
{% endfor %}
{% endfor %}
</ul>
</nav>
</header>
