
div#logo a {
  display: block;
  width: 100%;
  height: 100%;
}
#footer_text a {
  font-family: Verdana,sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: normal;
  color: #666666;
  text-decoration: underline; white-space: nowrap;
}

    
#key_visual {
   background: url(/img/Web+LOGO+V.jpg) no-repeat;
}
#slogan {
  font-family: Verdana,sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #ff850f;
}
a.main_nav_active_item {
  background: url(images/dynamic/buttonset1/n1activeitem.gif) no-repeat;
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #FF8915;
  background-position: top right;
}
a.main_nav_item {
  background: url(images/dynamic/buttonset1/n1.gif) no-repeat;
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
  background-position: top right;
}
a.main_nav_item:hover {
  background: url(images/dynamic/buttonset1/n1hover.gif) no-repeat;
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #FF8915;
}
a.sub_nav_active_item {
  background: url(images/dynamic/buttonset1/subnav1active.gif) no-repeat;
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  color: #FF8915;
}
a.sub_nav_item {
  background: url(images/dynamic/buttonset1/subnav1.gif) no-repeat;
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
}
a.sub_nav_item:hover {
  background: url(images/dynamic/buttonset1/subnav1hover.gif) no-repeat;
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: bold;
  text-decoration: underline;
  color: #FC8713;
}
.content h1 {
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #FF8915;
}
.content h2 {
  font-family: Verdana,Arial,Trebuchet MS,Tahoma,sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #FFA750;
}
.content h3 {
  font-family: Verdana,Arial,Trebuchet MS,Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #FFB873;
}
.content, .content p {
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #696560;
}
.content a:visited {
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  color: #000;
}
.content a:link {
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  color: #000;
}
.content a:hover {
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #FF8915;
}
.content a:active {
  font-family: Tahoma,sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  color: #000;
}
#footer_text {
  font-family: Verdana,sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
  color: #666666;
}

